openapi: 3.0.0
info:
  title: betcoin
  description: betcoin app
  termsOfService: 'dd'
  contact:
    name: Josua Blejeru
    url: https://github.com/josuablejeru
    email: josua.blejeru@gmail.com
  license:
    name: MIT
    url: https://choosealicense.com/licenses/mit/
  version: 1.0.0

servers:
- url: "https://api.betcoin-app.xyz/{basePath}"
  variables:
    basePath:
      default: "dev"

paths:
  /guess:
    post:
      summary: Stores a new guess
      operationId: storeGuess
      tags:
        - CORS
      requestBody:
        description: new guess to be stored
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGuess'
            examples:
              NewGuess:
                value:
                  userId: 'foo'
                  point: -1
                  guess: "DOWN"

      x-amazon-apigateway-integration:
        uri:
          arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${region}:${account_id}:function:${store_guess_function}/invocations
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Headers: "'*'"
              method.response.header.Access-Control-Allow-Methods: "'OPTIONS,POST'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws_proxy"
        
      responses:
        "200":
          description: New guess is created
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Guess'
          
        '400':
          description: Missing field
    
  # /score:
  #   get:
  #     description: Get the current score of the user
  #     responses:
  #       '200':
  #         description: Returns the current score of the user
  #         content:
  #           'application/json':
  #             schema:
  #               type: object
  #               items:
  #                 $ref: '#/components/schemas/UserScore'

components:
  schemas:
    NewGuess:
      type: object
      properties:
        userId:
          type: string
        point:
          type: integer
          format: int64
        guess:
          type: string
          enum: 
            - "UP"
            - "DOWN"
   
    Guess:
      type: object
      properties:
        guessId:
          type: string
        score:
          type: integer

    UserScore:
      type: object
      properties:
        score:
          type: integer
        lastUpdated:
          type: string
          format: date-time
